name: Publish on Github Packages
on:
  pull_request:
    branches:
      - staging
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java for publishing to GitHub Packages
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Set output
        id: vars
        # run: echo "::set-output name=branch_name::${GITHUB_REF#refs/heads/}"
        run: echo "branch_name=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
      - name: Cache Local Maven Repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
      - name: Build Package
        run: mvn clean compile -Dmaven.test.skip=true
      - name: Publish to GitHub Packages
        run: mvn --batch-mode deploy
        env:
          GITHUB_ACTOR: ${{ secrets.PUBLISHED_BY }}
          GITHUB_TOKEN: ${{ secrets.PUBLISHED_TOKEN }}
